{{#section 'employment'}}
<hr>
<section class="employment">
  <h2 class="py1">{{{sectionTitle "EMPLOYMENT"}}}</h2>
  <div class="">
    {{#each r.employment.history}}
      {{#if url}}
      <h4><em>{{position}}</em>, <a href="{{{url}}}">{{employer}}</a></h4>
      {{else}}
      <h4><em>{{position}}</em>, {{employer}}</h4>
      {{/if}}
      <span class="block date py1">{{formatDate safe.start 'YYYY-MM'}}&mdash;{{#if current}}Present{{else}}{{formatDate safe.end 'YYYY-MM'}}{{/if}}</span>
      {{{summary}}}
      {{#if highlights}}
        <ul class="mt1">
        {{#each highlights}}
          <li>{{{this}}}</li>
        {{/each}}
        </ul>
      {{/if}}
      {{#if keywords}}
        <ul class="mb3 mt1 flex keywords">
        {{#each keywords}}
          <li class="mr1 ml1 px1">{{{this}}}</li>
        {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  </div>
</section>
{{/section}}


