{{#section 'skills'}}
<hr>
<section class="skills">
  <h2 class="">{{{sectionTitle "SKILLS"}}}</h2>
  <div class="">
    {{#each r.skills.sets}}
      <div class="flex py1">
        <h4 class="skill-title mr3"><strong>{{name}}</strong></h4>
        <p class="">
          {{#if skills}}
            {{#each skills}}
              <span class="">{{this}}</span>{{#unless @last}}, {{/unless}}
            {{/each}}
          {{/if}}
        </p>
      </div>
    {{/each}}
  </div>
</section>
{{/section}}
