/* An empty CSS file. */

@import url('https://cdnjs.cloudflare.com/ajax/libs/basscss/8.0.4/css/basscss.min.css');

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial',
    sans-serif;
}

a {
  color: #0e0e0e;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 28px;
  color: rgb(154, 103, 225);
}

thead > tr {
  display: flex;
  align-items: start;
}

thead > tr {}

.email, .website {
  text-decoration: none;
  color: #35323e;
  border-bottom: 3px solid #dfe2dd;
}

hr {
  width: 0%;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 0;
  border: 0;
  border-top: 2px dashed rgb(154, 103, 225);
}

main {
  max-width: 64em;
  margin: 0 auto;
}

.skill-title {
  min-width: 100px;
}
